* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

.cuerpo {
  background: #f1eeed; }

.nav-bar__logo {
  width: 100%; }

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(238, 190, 106, 0);
  transition: all .7s;
  position: absolute; }
  .menu li {
    list-style: none;
    margin: 0 10px; }
  .menu li:nth-child(0n+3) {
    width: 5%; }
  .menu a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.623);
    font-family: 'Dongle', sans-serif;
    font-size: 1.9em;
    display: block;
    transition: all .4s; }
    .menu a:hover {
      color: #fff; }

.nav-bar {
  background-color: #c9a66b;
  display: none;
  width: 100%;
  font-size: 1.9em;
  cursor: pointer;
  text-transform: uppercase;
  padding: 15px;
  color: rgba(255, 255, 255, 0.623);
  font-family: 'Dongle', sans-serif; }
  .nav-bar i {
    margin-right: 10px; }

@media screen and (max-width: 1024px) {
  .nav-bar {
    display: block; }
  .menu {
    margin-left: -100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #eebe6a;
    position: absolute; }
  .menu li {
    padding: 8px; }
  .menu li:nth-child(0n+3) {
    display: none; } }

.mostrar {
  margin-left: 0px; }

.header {
  background-image: linear-gradient(rgba(5, 10, 5, 0.8), rgba(5, 10, 5, 0.4)), url(../img/buffet.jpeg);
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden; }

.header__texto {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 1.7em;
  margin-left: 40px;
  text-shadow: 5px 5px 7px black;
  color: white; }
  .header__texto h1 {
    color: #edbd6b; }

.menu li {
  position: relative; }

.menu li:not(:nth-child(3))::before {
  content: "";
  height: 3px;
  width: 0%;
  background: white;
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: 0.4s ease-out; }

.menu li:hover::before {
  width: 100%; }

.texto-carta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.carta-container {
  min-height: 100vh;
  background-image: url(https://img.freepik.com/foto-gratis/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-pared-habitacion_1258-28312.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.btn-agregar {
  font-size: 1.5em; }

.input-container {
  margin: 20px 0px;
  text-align: center;
  width: 100%; }
  .input-container h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #f1eeed;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-size: 2em; }
  .input-container li {
    display: inline-block; }
  .input-container button {
    font-family: 'Montserrat', sans-serif;
    color: #080707;
    font-weight: 800;
    width: 300px;
    height: 30px;
    margin: 5px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    outline: none;
    border: none;
    transition: all 0.4s; }
    .input-container button:hover {
      background-color: #f5b952;
      transform: translateY(-3%); }

.titulo-carta {
  font-size: 2em;
  margin: 15px 0px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  color: #f1eeed;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 8px; }

div .cardComida {
  border-radius: 8px;
  text-align: center;
  background: #f1eeed;
  padding: 0px 0px;
  margin: 20px 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.6);
  transition: all 0.5s;
  position: relative; }
  div .cardComida .title {
    color: #f5b952;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background: #0d0c0d;
    background: linear-gradient(135deg, #0d0c0d 35%, #191616 100%); }
  div .cardComida p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 50px; }
  div .cardComida img {
    width: 100%; }
  div .cardComida i {
    font-size: 1.3em; }
  div .cardComida .btn-agregar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }

.cardComida:hover {
  transform: translateY(-3%); }

.signopeso, .price {
  display: inline-block;
  font-size: 1.2em; }

div.row {
  margin-right: 0;
  margin-left: 0; }

.btnActive {
  background-color: #f5b952;
  transform: translateY(-3%); }

div.contenedor-productos {
  display: none !important; }

.contenedor-productos.activo {
  display: flex !important; }

.titulo-carta {
  display: none; }

.titulo-carta.activoTitulo {
  display: flex; }

.footer {
  background-color: #080707;
  background: #0d0c0d;
  background: linear-gradient(135deg, #0d0c0d 35%, #191616 100%); }
  .footer img {
    width: 7%; }
  .footer h3 {
    font-family: 'Smooch Sans', sans-serif;
    color: #eebe6a; }
  .footer h4 {
    font-family: 'Dongle', sans-serif;
    text-transform: uppercase;
    font-size: 1.3em; }

.contenedor__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #f1eeed; }
  .contenedor__footer div {
    overflow: hidden; }
    .contenedor__footer div a {
      padding: 5px;
      text-decoration: none;
      font-size: 1.8em;
      color: #edbd6b; }

.contenedor-map-texto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 450px;
  gap: 0px 20px;
  grid-template-areas: ". map maptxt ."; }

.map {
  grid-area: map; }

.maptxt {
  grid-area: maptxt; }

.contenedor-map-texto {
  min-height: 100vh;
  align-content: center; }

.maptxt {
  background-color: #080707;
  background: #0d0c0d;
  background: linear-gradient(135deg, #0d0c0d 35%, #191616 100%);
  padding: 15px;
  color: #f1eeed;
  border-radius: 10px;
  font-size: 1.4em;
  font-family: 'Smooch Sans', sans-serif; }
  .maptxt span {
    color: #eebe6a; }
  .maptxt p {
    font-family: 'Poppins', sans-serif;
    font-size: .7em; }

.table-cart {
  background-color: #eeefee;
  text-align: center; }
  .table-cart th, .table-cart td {
    padding: 7px; }
  .table-cart th {
    border-bottom: 2px solid black; }

.div-iconCart {
  position: fixed;
  right: 0px;
  bottom: 50%;
  background: linear-gradient(135deg, #0d0c0d 35%, #191616 100%);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  padding: 20px;
  text-align: center; }
  .div-iconCart .iconCart {
    text-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.6);
    color: #f5b952;
    font-size: 3em;
    margin-left: 15%; }

.div-cart {
  background-color: #eeefee;
  margin-left: 100%;
  display: none; }

.mostrar {
  margin-left: 0;
  display: block;
  position: fixed;
  right: 0px;
  bottom: 0%;
  height: 100vh;
  z-index: 30; }

.div-iconCerrar {
  background: linear-gradient(135deg, #0d0c0d 35%, #191616 100%); }

.iconCerrar {
  padding: 15px;
  font-size: 1.5em;
  color: #f5b952; }

#footerTable {
  border-top: 2px solid black; }

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20; }
