.card-comida{
    width: 410px;
    height: 150px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: #f1eeed;
    padding: 15px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    transition: all 0.4s;
    &:hover{
        transform: translateY(-3%);
    }
    h3:nth-child(0n+1){
        color: #f5b952;
    }
    h3{
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 700;
    }
    p{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }
    img{
        width: 30%;
    }
}
.texto-carta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.carta-container{
    min-height: 100vh;
    background-image: url(https://img.freepik.com/foto-gratis/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-pared-habitacion_1258-28312.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn-agregar{
    font-size: 1.3em;
    background-color: #d1d1d1;
    border-radius: 5px;
    width: 25px;
}
.input-container{
    margin: 20px 0px;
    text-align: center;
    width: 100%;
    h3{
        text-align: center;
        font-family: 'Roboto', sans-serif;
        color: #f1eeed;
        text-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
        font-size: 2em;
    }
    button{
        font-family: 'Montserrat', sans-serif;
        color: #080707;
        font-weight: 800;
        width: 300px;
        height: 30px;
        margin: 5px 20px;
        border-radius: 10px;
        box-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
        outline: none;
        border: none;
        transition: all 0.4s;
        &:hover{
            background-color: #f5b952;
            transform: translateY(-3%);
        }
    }
}
.titulo-carta{
    font-size: 2em;
    margin: 15px 0px;
    font-family: 'Roboto', sans-serif;
    text-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
    color: #f1eeed;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 8px;
}

.ocultar{
    display: none;
    div{
        display: none;
    }
}

.btnfiltrado{
    background-color: #f5b952;
}