
.texto-carta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.carta-container{
    min-height: 100vh;
    background-image: url(https://img.freepik.com/foto-gratis/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-pared-habitacion_1258-28312.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn-agregar{
    font-size: 1.5em;
}
.input-container{
    margin: 20px 0px;
    text-align: center;
    width: 100%;
    h3{
        text-align: center;
        font-family: 'Roboto', sans-serif;
        color: #f1eeed;
        text-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
        font-size: 2em;
    }
    button{
        font-family: 'Montserrat', sans-serif;
        color: #080707;
        font-weight: 800;
        width: 300px;
        height: 30px;
        margin: 5px 20px;
        border-radius: 10px;
        box-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
        outline: none;
        border: none;
        transition: all 0.4s;
        &:hover{
            background-color: #f5b952;
            transform: translateY(-3%);
        }
    }
}
.titulo-carta{
    font-size: 2em;
    margin: 15px 0px;
    font-family: 'Roboto', sans-serif;
    text-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
    color: #f1eeed;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 8px;
}

div .cardComida{
    border-radius: 8px;
    text-align: center;
    background: #f1eeed;
    padding: 0px 0px;
    margin: 20px 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
    position: relative;
    .title{
        color: #f5b952;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        background: rgb(13,12,13);
        background: linear-gradient(135deg, rgba(13,12,13,1) 35%, rgba(25,22,22,1) 100%);
    }
    p{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin-bottom: 50px;
    }
    img{
        width: 100%
    }
    i{
        font-size: 1.3em;
    }
    .btn-agregar{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    }

}
.cardComida:hover{
    transform: translateY(-3%);
}
.signopeso, .price{
    display: inline-block;
    font-size: 1.2em;
}
